@import "tailwindcss";

/* Esto es para que el fondo sea oscuro desde ya */
:root {
  background-color: #121212;
  color: white;
}

/* Calibración quirúrgica del calendario */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.4);
  /* ¡Aquí le damos el tamaño real! */
  margin-left: 8px;
  transition: all 0.2s ease;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
  transform: scale(1.6);
  /* Crece un poquito más al pasar el mouse */
}

/* Quitar el borde azul feo que pone Chrome al hacer click */
input[type="date"]:focus {
  outline: none;
}